@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(38, 99, 150);
  --secondary-color: rgb(199, 167, 41);
  --light-color: rgb(96, 152, 186);
  --dark-color: rgb(24, 47, 75);
  --small-bg-color: rgb(201, 216, 230);
}
.banner-home {
  background-image: linear-gradient(rgba(15, 34, 58, 0.9), rgba(199, 167, 41, 0.4)), url("../assets/images/mathematical-sciences-banner-1160.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-contact {
  background-image: linear-gradient(rgba(15, 34, 58, 0.9), rgba(199, 167, 41, 0.4)), url("../assets/images/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-team {
  background-image: linear-gradient(rgba(15, 34, 58, 0.9), rgba(199, 167, 41, 0.4)), url("../assets/images/team.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
/* //navigation  */
.nav-link {
  @apply flex items-center font-medium px-4 border-b-4;
}
.nav-link-active {
  @apply border-secondary text-secondary;
}
.dropdown-menu {
  @apply dropdown-content menu bg-gray-200 shadow-lg border-t-4 border-secondary flex-col;
}
.dropdown-link {
  @apply cursor-pointer text-dark font-semibold flex items-center;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--dark-color);
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: white;
    background: var(--light-color);
  }
} */
